* {
    margin: 0;
    padding: 0;
}

main {

    height: 100vh;
    background-image: url('https://dinahosting.com/blog/upload/2018/06/lenguajes-de-programaci%C3%B3n-1-1.jpg');
    background-size: cover;
    background-position: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none; 
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    width: 200px;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}