
.header {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;


    .header__logo {

        margin-right: 20px;
    }

    .header__nav {
        margin-right: auto;
    }

    .header__link {
        margin: 0 10px;
        color: blue;
    
    }

    .header__search {
        background: #eee;
        padding: 5px;

    }
}